// Desktop and TV
header .results-container.show {
  display: block;
}

header .results-container {
  display: none;
  position: absolute;
  top: 0;
  left: 32.5%;
  color: var(--text-secondary);
  background-color: var(--box-color);
  width: 30%;
  max-height: 19vw;
  font-size: calc(0.9vw + 0.1rem);
  padding: 0.75em;
  border-radius: 0.5vw;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 100;
  &::-webkit-scrollbar {
    display: none;
  }
  .search-input-container {
    padding: 0.6em;
    background-color: var(--box-color-secondary);
    border-radius: inherit;
    text-align: center;
    margin-bottom: 0.75em;
    font-size: calc(0.8vw + 0.1rem);
  }
}

// Tablet (Landscape Mode)
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  header .results-container {
    left: 33%;
    width: 35%;
    max-height: 23vw;
    .search-input-container {
      font-size: calc(1vw + 0.1rem);
    }
  }
}

// Tablet (Portrait Mode)
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  header .results-container {
    position: static;
    margin: 3vw auto 0;
    width: 95%;
    max-height: 70vw;
    font-size: calc(1.5vw + 0.1rem);
    .search-input-container {
      display: none;
    }
  }
}

// Mobile (Landscape Mode)
@media only screen and (min-width: 481px) and (max-width: 767px) {
  header .results-container {
    position: static;
    margin: 1.5vw auto 0;
    width: 95%;
    max-height: 15vw;
    font-size: calc(1vw + 0.1rem);
    .search-input-container {
      display: none;
    }
  }
}

// Mobile (Portrait Mode)
@media only screen and (min-width: 320px) and (max-width: 480px) {
  header .results-container {
    position: static;
    margin: 3vw auto 0;
    width: 95%;
    max-height: 70vw;
    font-size: calc(1.5vw + 0.1rem);
    .search-input-container {
      display: none;
    }
  }
}
