// Desktop and TV
.grid-content .fav-song {
  transition: color 0.2s;
  padding: 0.6em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  h3:not(:first-of-type) {
    width: 22.5%;
  }
  h3:last-of-type {
    width: 10.25%;
  }
  h3:first-of-type {
    width: 4.25%;
  }
  button {
    width: 2.5%;
  }
}

.grid-content .fav-song.loading {
  h3:not(:first-of-type) {
    animation: textPulse 2s forwards infinite;
  }
}

.grid-content .fav-song.error {
  h3 {
    color: hsl(225, 2%, 54%);
  }
}

.grid-content .fav-song:hover {
  color: var(--primary-color);
}

.grid-content .fav-song span {
  display: none;
}

.grid-content .fav-song button img {
  width: 1vw;
}

// Tablet (Landscape Mode)
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .grid-content .fav-song {
    padding: 0.75em 0;
    h3:not(:first-of-type) {
      width: 28%;
    }
    h3:last-of-type {
      display: none;
    }
    h3:first-of-type {
      width: 5%;
    }
    button {
      width: 3.25%;
    }
  }

  .grid-content .fav-song button img {
    width: 1.25vw;
  }
}

// Tablet (Portrait Mode)
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .grid-content .fav-song {
    padding: 1em 0;
    h3:not(:first-of-type) {
      width: 28%;
    }
    h3:last-of-type {
      display: none;
    }
    h3:first-of-type {
      width: 5%;
    }
    button {
      width: 3.5%;
    }
  }

  .grid-content .fav-song button img {
    width: 2.25vw;
  }
}

// Mobile (Landscape Mode)
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .grid-content .fav-song {
    padding: 0.85em 0;
    h3:not(:first-of-type) {
      width: 28%;
    }
    h3:last-of-type {
      display: none;
    }
    h3:first-of-type {
      width: 5%;
    }
    button {
      width: 3.5%;
    }
  }

  .grid-content .fav-song button img {
    width: 2.25vw;
  }
}

// Mobile (Portrait Mode)
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .grid-content .fav-song {
    padding: 1.5em 0;
    h3:not(:first-of-type) {
      width: 28%;
    }
    h3:last-of-type {
      display: none;
    }
    h3:first-of-type {
      width: 5%;
    }
    button {
      width: 3.5%;
    }
  }

  .grid-content .fav-song button img {
    width: 2.65vw;
  }
}
